@charset "UTF-8";
/*Подключение обнуляющего стиля*/
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*Подключение шрифтов*/
@font-face {
  font-family: "Intro-Book";
  src: url("../fonts/Intro-Book.ttf");
  font-weight: normal;
  font-style: normal;
}

/*Задание переменных цвета для МЕНЮ БУРГЕР*/
/* ==============================Разметка============================== */
body {
  position: relative;
  font-family: "Intro-Book";
}

body.lock {
  overflow: hidden;
}

/* ======================БЛОКИРУЮЩЕЕ ПЕРЕКРЫТИЕ======================== */
.block {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.block.active {
  display: block;
}

/* ==============================МЕНЮ БУРГЕР============================== */
.burger__button {
  width: 50px;
  height: 50px;
  background: #eec56c;
  border-radius: 8px;
  padding: 15px 0 15px 0;
}

.burger__item {
  display: block;
  width: 30px;
  height: 20px;
  margin: 0 auto;
}

.burger__item:before, .burger__item:after {
  content: "";
  width: 100%;
  height: 2px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: white;
}

.burger__item span {
  width: 100%;
  height: 2px;
  background: white;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.burger__item.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.burger__item.active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.burger__item.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
  bottom: 9px;
}

.menu__list {
  height: auto;
  background: #e0e0e0;
  border-radius: 8px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  padding: 20px 20px 20px 20px;
}

.menu__link {
  font-family: "Intro-Book";
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px 10px 10px 10px;
}

.menu__link a {
  display: block;
  color: black;
}

.menu__link a:hover {
  border: 2px solid #05ad7b;
  border-radius: 8px;
  margin: -2px -2px -2px -2px;
}

.burger__button {
  position: fixed;
  z-index: 20;
  top: 2px;
  right: 2px;
}

.burger__item {
  position: relative;
  z-index: 21;
}

.burger__item:before, .burger__item:after {
  position: absolute;
  left: 0;
}

.burger__item:before {
  top: 0;
}

.burger__item:after {
  bottom: 0;
}

.burger span {
  position: absolute;
  z-index: 21;
  left: 0;
  top: 9px;
}

.menu__menu {
  position: relative;
  z-index: 18;
}

.menu__list {
  position: fixed;
  top: -100%;
  right: 52px;
  z-index: 19;
}

.menu__list.active {
  top: 0;
}

.block {
  z-index: 17;
}

/* @media (max-width: 1280px) {
	.container {
		max-width: 970px;
	}
}
@media (max-width: 992px) {
	.container {
		max-width: 750px;
	}
}
@media (max-width: 767px) {
	.container {
		max-width: none;
	}
} */
