@charset "UTF-8";
/*Подключение обнуляющего стиля*/
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*Подключение стиля для БУРГЕРА*/
/*Подключение обнуляющего стиля*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*Подключение шрифтов*/
@font-face {
  font-family: "Intro-Book";
  src: url("../fonts/Intro-Book.ttf");
  font-weight: normal;
  font-style: normal;
}

/*Задание переменных цвета для МЕНЮ БУРГЕР*/
/* ==============================Разметка============================== */
body {
  position: relative;
  font-family: "Intro-Book";
}

body.lock {
  overflow: hidden;
}

/* ======================БЛОКИРУЮЩЕЕ ПЕРЕКРЫТИЕ======================== */
.block {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.block.active {
  display: block;
}

/* ==============================МЕНЮ БУРГЕР============================== */
.burger__button {
  width: 50px;
  height: 50px;
  background: #eec56c;
  border-radius: 8px;
  padding: 15px 0 15px 0;
}

.burger__item {
  display: block;
  width: 30px;
  height: 20px;
  margin: 0 auto;
}

.burger__item:before, .burger__item:after {
  content: "";
  width: 100%;
  height: 2px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: white;
}

.burger__item span {
  width: 100%;
  height: 2px;
  background: white;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.burger__item.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.burger__item.active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.burger__item.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
  bottom: 9px;
}

.menu__list {
  height: auto;
  background: #e0e0e0;
  border-radius: 8px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  padding: 20px 20px 20px 20px;
}

.menu__link {
  font-family: "Intro-Book";
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px 10px 10px 10px;
}

.menu__link a {
  display: block;
  color: black;
}

.menu__link a:hover {
  border: 2px solid #05ad7b;
  border-radius: 8px;
  margin: -2px -2px -2px -2px;
}

.burger__button {
  position: fixed;
  z-index: 20;
  top: 2px;
  right: 2px;
}

.burger__item {
  position: relative;
  z-index: 21;
}

.burger__item:before, .burger__item:after {
  position: absolute;
  left: 0;
}

.burger__item:before {
  top: 0;
}

.burger__item:after {
  bottom: 0;
}

.burger span {
  position: absolute;
  z-index: 21;
  left: 0;
  top: 9px;
}

.menu__menu {
  position: relative;
  z-index: 18;
}

.menu__list {
  position: fixed;
  top: -100%;
  right: 52px;
  z-index: 19;
}

.menu__list.active {
  top: 0;
}

.block {
  z-index: 17;
}

/* @media (max-width: 1280px) {
	.container {
		max-width: 970px;
	}
}
@media (max-width: 992px) {
	.container {
		max-width: 750px;
	}
}
@media (max-width: 767px) {
	.container {
		max-width: none;
	}
} */
/*Подключение стиля для ФОТОГАЛЕРЕИ*/
body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
  outline: none;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;
  /* Image border */
  border: 4px solid white;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/icon/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}

.lb-prev,
.lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../img/icon/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../img/icon/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/icon/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/*Подключение шрифтов*/
@font-face {
  font-family: "Intro-Book";
  src: url("../fonts/Intro-Book.ttf");
  font-weight: normal;
  font-style: normal;
}

/*Задание переменных*/
/*Задание переменных цвета*/
/*Задание переменных шрифта*/
/* ==============================РАЗМЕТКА============================== */
.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
}

.footer {
  background: #88c99d;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
}

/* ============================ОБЩИЕ КЛАССЫ============================ */
body {
  font-family: "Intro-Book";
  color: #858585;
  font-size: 25px;
  line-height: 1.3;
}

p {
  font-size: 25px;
  margin: 12px 0 12px 0;
}

a {
  color: #377cc2;
}

.center {
  margin: 0 auto;
}

.centertext {
  text-align: center;
}

.title {
  text-transform: uppercase;
  font-size: 60px;
  color: #377cc2;
  padding: 20px 0 20px 0;
}

/* ===============================ОБЛОЖКА============================== */
.header {
  width: 100%;
  background: -webkit-gradient(linear, left bottom, right top, from(#377cc2), color-stop(#2092a2), color-stop(80%, #05ad7b));
  background: linear-gradient(to top right, #377cc2, #2092a2, #05ad7b 80%);
}

.cover {
  width: 100%;
}

.cover__nameplace {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cover__name {
  width: 1280px;
  height: 100px;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: rotate(-55deg);
          transform: rotate(-55deg);
  background: #48c09d;
  padding: 15px 0 15px 250px;
}

.cover span {
  font-family: "Yanone Kaffeesatz";
  font-size: 70px;
  color: #3e6da2;
}

.cover__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cover__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 20px 0 20px;
}

.cover__text ul {
  font-size: 30px;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.cover__text li {
  margin: 0 0 20px 0;
}

.cover__text li:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.cover__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 670px;
          flex: 0 1 670px;
}

.cover__image img {
  display: block;
  max-width: 100%;
}

.empty {
  width: 100%;
  height: 80px;
}

.cover {
  position: relative;
  z-index: 0;
}

.cover__nameplace {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
}

.cover__name {
  position: absolute;
  bottom: -100px;
  left: 25%;
  z-index: 1;
}

.cover__row {
  position: relative;
  z-index: 3;
}

.cover li {
  position: relative;
}

.cover li:after {
  position: absolute;
  right: 50%;
  bottom: -10px;
}

.cover__image {
  position: relative;
  z-index: 3;
  bottom: -80px;
}

.header {
  position: relative;
  z-index: 0;
}

.main {
  position: relative;
  z-index: 0;
}

.footer {
  position: relative;
  z-index: 0;
}

/* ===============================РЕЗЮМЕ=============================== */
.subtitle {
  font-size: 30px;
  color: black;
}

.underline:after {
  content: "";
  width: 195px;
  height: 7px;
  background: #88c99d;
}

.black {
  color: black;
}

.rezume {
  background: url("../img/rezume/pen.png") 95% 100% no-repeat;
}

.rezume__item {
  padding: 0 20px 0 20px;
}

.rezume span {
  display: block;
  margin: 42px 0 0 0;
}

.rezume p:first-of-type {
  margin: 66px 0 0 0;
}

.spoilerin {
  cursor: pointer;
}

.spoilerin span {
  font-size: 23px;
  text-transform: uppercase;
  color: #88c99d;
  padding: 0 0 0 30px;
  margin: 0 20px 0 20px;
}

.spoilerin span:before, .spoilerin span:after {
  content: "";
  width: 10px;
  height: 2px;
  background: #377cc2;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.spoilerin span:hover {
  color: #377cc2;
}

.experience {
  background: #f3f9f7;
  margin: 20px 0 0 0;
}

.experience__item {
  padding: 20px 20px 20px 20px;
}

.experience__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.experience__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.experience__date {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 263px;
          flex: 1 1 263px;
  color: #377cc2;
  padding: 0 10px 0 0;
}

.experience__description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 847px;
          flex: 1 1 847px;
  padding: 0 0 0 10px;
}

.experience__description span {
  display: block;
}

.underline {
  position: relative;
}

.underline:after {
  position: absolute;
  bottom: -28px;
  left: 0;
}

.spoilerin span {
  position: relative;
}

.spoilerin span:before, .spoilerin span:after {
  position: absolute;
  top: 50%;
}

.spoilerin span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 0;
}

.spoilerin span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 7px;
}

.spoilerin span.active:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.spoilerin span.active:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/* ==============================ПОРТФОЛИО============================= */
label {
  cursor: pointer;
  text-transform: uppercase;
  margin: 0 20px 0 20px;
}

.activelabel {
  color: #88c99d;
}

#nav-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 20px 0;
}

.portfolio__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(180px, 360px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(180px, 360px));
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__image {
  display: block;
  background: white;
  -webkit-box-shadow: 0px 0px 10px rgba(55, 124, 194, 0.2);
          box-shadow: 0px 0px 10px rgba(55, 124, 194, 0.2);
  padding: 20px 20px 20px 20px;
}

.portfolio__image:before {
  content: "";
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 80%;
  background: url("../img/icon/eye-icon.png") center/25% no-repeat;
}

.portfolio__image:hover:before {
  visibility: visible;
}

.portfolio__image img {
  display: block;
  width: 100%;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.portfolio__image {
  position: relative;
}

.portfolio__image:before {
  position: absolute;
  top: 0;
  left: 0;
}

/* ==============================КОНТАКТЫ============================== */
.contacts {
  background: #f3f9f7;
  margin: 20px 0 0 0;
}

.contacts__item {
  padding: 0 20px 20px 20px;
}

.contacts__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(140px, 167px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(140px, 167px));
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts a:not(#contacts) {
  display: block;
  text-align: center;
  padding: 80px 0 0 0;
}

.contacts__instagram {
  background: url("../img/icon/inst.svg") center 0/33% no-repeat;
}

.contacts__instagram:hover {
  background: url("../img/icon/inst_hover.svg") center 0/33% no-repeat;
}

.contacts__vk {
  background: url("../img/icon/vk.svg") center 0/33% no-repeat;
}

.contacts__vk:hover {
  background: url("../img/icon/vk_hover.svg") center 0/33% no-repeat;
}

.contacts__wa {
  background: url("../img/icon/wa.svg") center 0/33% no-repeat;
}

.contacts__wa:hover {
  background: url("../img/icon/wa_hover.svg") center 0/33% no-repeat;
}

/* ================================ФУТЕР=============================== */
.footer__text {
  color: white;
  margin: 15px 0 0 0;
}

@media (max-width: 768px) {
  body {
    font-size: 20px;
  }
  p {
    font-size: 20px;
  }
  .cover__name {
    max-width: 100%;
    height: 50px;
    top: 2px;
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    padding: 10px 0 10px 20px;
  }
  .cover span {
    font-size: 30px;
  }
  .cover__row {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .cover__image {
    bottom: -20px;
  }
  .cover__text {
    margin: 0px 0 0 0;
    padding: 0 20px 20px 20px;
  }
  .empty {
    width: 100%;
    height: 20px;
  }
  .experience__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .experience__date {
    text-align: center;
  }
  .experience__description {
    font-size: 15px;
  }
}

@media (max-width: 415px) {
  .title {
    font-size: 40px;
  }
  .contacts__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
